/* css voor view product/lijst.twig */

/* ****************************************************************************
CATEGORIEËN
 ***************************************************************************** */
.menucat{
    list-style-type: none;

    margin: 0 auto;
}
.menucat>li{

}
.menucat>li>a {
    background-color: white;
    color:black;
    display: block;
    padding:.7rem 1rem;
}
.menucat>li>a:hover{
    background-color:burlywood;
}
.menucat>li>button>a{
    color:rgba(255,255,255,0.8);
}
.success{
    background-color: blue;
}



/* ******************************************************************************
PRODUCTEN
******************************************************************************** */
/* ******************************************************************************
PRODUCTEN
******************************************************************************** */
.vertical {
    background-color: white;
}
.vertical>li>a{
    color:black;
}
table{
    border-spacing: 0;
}
table.unstriped tbody{
    background-color: white;
    border-spacing:0;
}
table.unstriped tbody td{
    padding: 0.5em;
}
table.unstriped tbody tr{
    background-color: inherit;
    border: 1px solid black;
}
table>tbody>tr>td>a{
    color:black;
}
{
    display:none;
}

