{% extends 'admin.twig' %}

{% block topnavigatie %}
    <header>
            <div class="top-bar">
                <div class="wrapper">
                    <div class="top-bar-title">
                        <h6>{{ site_titel }}-Admin Section</h6>
                    </div>
                    <div class="top-bar-left">
                        <ul class="menu">
                            <li><a href="/admin/product/lijst/">Producten</a></li>
                            <li><a href="">Bestellingen</a></li>
                            <li><a href="">Klanten</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header> {# einde header #}
{% endblock topnavigatie %}
{% block content %}

{% endblock content %}