{% extends 'klant/basis.twig' %}

{% block content %}
    <section class="content">
        <div class="wrapper row">
                <div class="small-12 medium-3 column">
                    <h4>Categorieën</h4>
                    <div class="menu-left">
                        <ul class="menu vertical">
                            {% for categorie in categorielijst %}
                                <li><a href="/product/lijst/cat/{{ categorie.catnr }}" >{{ categorie.categorie|upper }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="small-12 medium-9 column">
                <h2>Producten</h2>
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Prijs</th>
                    </tr>
                    {% for product in producten %}
                        <tr>
                            <td>{{ product.product_naam }}</td>
                            <td>{{product.eenheidsprijs}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock content %}